ul {
  margin: 0;
  padding: 0;
}

.select-wrap {
  position: relative;
  height: 100%;
  text-align: center;
  overflow: hidden;
  /* font-size: 24px; */

  font-family: 'Apple SD Gothic Neo';
}
.select-wrap:before,
.select-wrap:after {
  position: absolute;
  z-index: 1;
  display: block;
  content: '';
  width: 100%;
  height: 50%;
}
.select-wrap:before {
  top: 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}
.select-wrap:after {
  bottom: 0;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}
.select-wrap .select-options {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0;
  transform-style: preserve-3d;
  margin: 0 auto;
  display: block;
  transform: translateZ(-150px) rotateX(0deg);
  -webkit-font-smoothing: subpixel-antialiased;
  color: #666;
}
.select-wrap .select-options .select-option {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  -webkit-font-smoothing: subpixel-antialiased;
}
.highlight {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  /* background-color: #000; */
  /* border-top: 1px solid #333; */
  /* border-bottom: 1px solid #333; */
  background-color: white;
  /* font-size: 24px; */
  overflow: hidden;
}
.highlight-list {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* date */
.DatePicker {
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  perspective: 2000px; */
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: 170px;
}
.DatePicker > div {
  flex: 1;
}
.DatePicker > :nth-child(2) {
  margin-left: 16px;
}
.DatePicker .select-wrap {
  /* p1Medium */
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  color: #7a8190; /* gray400 */
}
.DatePicker .highlight {
  /* h3Semibold */
  font-size: 18px;
  font-weight: 600;
  line-height: 29px;

  color: #495460; /* gray600 */
}
.DatePicker ul {
  list-style: none;
}
